.header {
    background-color: var(--primary-background-color);
}

.header_transparent {
    background-color: unset;
}

.header__title{
    font-family: var(--primary-font-family);
    font-size: var(--font-size-title-xl);
    font-weight: var(--font-weight-title-xl);
    line-height:  var(--line-height-title-xl);
    color: var(--primary-text-color);
    margin: 0;
}
