.section {
   padding: 0 40px;
}

.section__item {
    padding: 30px 0;
}

.button {
    cursor: pointer;
    height: 48px;
    width: 182px;
    border-width: 1px;
    border-radius: var(--border-radius);
    font-family: var(--secondary-font-family);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    border-style: solid;
    box-sizing: border-box;
    transition: background-color var(--transition-style), border var(--transition-style), opacity var(--transition-style);
}

.button[disabled],
.button:disabled {
    pointer-events: none;
    opacity: var(--disabled-opacity);
}

.button_primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.button_primary:hover,
.button_primary:active {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.button_secondary {
    background-color: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
}

.button_secondary:hover,
.button_secondary:active {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
}

.button_alternate {
    background-color: var(--white);
    color: var(--alternate);
    border-color: var(--grey-3);
}

.button_alternate:hover,
.button_alternate:active {
    background-color: var(--white);
    border-color: var(--alternate-hover);
}

