.card {
    width: 350px;
    background: var(--primary-background-color);
    border-radius: 12px;
    box-shadow: var(--primary-box-shadow);
    padding: 32px;
    box-sizing: border-box;
}

.card__title {
    font-family: var(--secondary-font-family);
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}
