@import "../../03-lection1/01-button/button.css";

.modal {
    display: none;
}

.modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C4C4C4;
    opacity: 0.5;
}

.modal__body {
    position: fixed;
    padding: 30px 40px 33px;
    width: 90%;
    max-width: 428px;
    border-radius: var(--border-radius);
    background-color: var(--primary-background-color);
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modal__close-button {
    position: absolute;
    background: none;
    border: none;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.modal__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 14px;
}

.modal__text {
    margin: 0;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-m);
    line-height: var(--line-height-m);
}

